@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

body,
button,
input {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
}

label {
  font-size: 0.9rem;
}

p,
button,
input {
  font-size: 1rem;
}
