@use '../abstracts' as *;

.app {
  @include glass;
  box-sizing: border-box;
  width: clamp(280px, 90vw, 360px);
  color: white;

  &__title {
    padding: 3rem 2rem 0;
    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 2px;
      background-color: #fff;
      transform: translate(-0.5em, 0.1em);
    }
  }
  &__form {
    padding: 1.5em 2rem;
  }
  &__result {
    @include glass;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid white;
    box-shadow: none;

    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
  }
}
